{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
  <h2 class="mb-4">Status Page</h2>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Url</th>
      <th scope="col">Operation</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="{{ url_for('get_website', name=named) }}">{{named}}</a></td>
      <td>{{website_url}}</td>
      <td>Operation: {{ops}}</td>
      <td><a href="{{ url_for('website_edit') }}">Edit</a></td>
    </tr>
    <tr>

{% endblock content %}